@font-face {
 font-family: 'Value Sans Pro';
 src: local("ValueSansPro-Regular"),
   url("./font/ValueSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Value Sans Medium';
  src: local("ValueSansPro-Medium"),
    url("./font/ValueSansPro-Medium.ttf") format("truetype");
 }

 @font-face {
  font-family: 'Value Sans Bold';
  src: local("ValueSansPro-Bold"),
    url("./font/ValueSansPro-Bold.ttf") format("truetype");
 }
 
*{
  font-family: Value Sans Pro;
} 


.navLinks:hover > .megaMenu{
  display: block;
}
.navbar ul li:hover .megaMenu{
  display: block
}
/* .navLinks:hover .megaMenu .ser-nav5{
  display: block;
} */