@font-face {
 font-family: 'Proxima Nova';
 src: local("ProximaNova-Regular"),
   url("./font/ProximaNova-Regular.otf") format("truetype");
}
 @font-face {
  font-family: 'Proxima Nova Bold';
  src: local("ProximaNova-Bold"),
    url("./font/Proxima\ Nova\ Bold.otf") format("truetype");
 }
 
*{
  font-family: 'Proxima Nova';
} 
.navLinks:hover > .megaMenu{
  display: block;
}
.navbar ul li:hover .megaMenu{
  display: block
}


