/* =========staff css start============== */
.staff-cap {
  padding: 70px 100px;
  /* background-color: #F3F3F3; */
  background-color: #fafafa;
}
.staff-cap .sta {
  color: #000000;
  font-weight: 500;
  font-size: 43px;
  font-family: "Value Sans Medium" !important;
  text-align: center;
  opacity: 0.95;
}
.staff-cap .cab {
  color: #000000;
  font-weight: 700;
  font-size: 43px;
  /* font-family: "Value Sans Medium" !important; */
  text-align: center;
  opacity: 0.95;
  line-height: 52px;
}
.home480 {
  padding: 65px 0px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.box {
  background-color: #ffffff;
  width: 390px;
  padding: 40px 30px;
  height: 280px;
  margin: 0px 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  cursor: pointer;
}
.box:hover {
  background-color: #085881;
}
.box:hover .sard h3 {
  color: #ffffff;
}
.box:hover .sard h2 {
  color: #ffffff;
}
.box:hover .staff-para p {
  color: #ffffff;
}
.box:hover .sard img {
  filter: invert(1);
}
.sard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sard img {
  width: 35px;
  margin-left: 2px;
}
.sard h3 {
  /* font-family: "Value Sans Medium" !important; */
  font-size: 23px;
  line-height: 38px;
  opacity: 0.95;
  color: #000000;
}
.e-com {
  font-weight: 600 !important;
}
.sard h2 {
  color: #000000;
  /* font-family: "Value Sans Pro" !important; */
  font-size: 23px;
  font-weight: 600;
}
.staff-para {
  margin-top: 18px;
}
.staff-para p {
  color: #000000;
  /* font-family: "Montserrat", sans-serif !important; */
  font-size: 19px;
  font-weight: 500;
  line-height: 33px;
}
.staff-process {
  padding: 60px 100px;
  background-color: #f5f5f5;
}
.staff-process .aug {
  color: #000000;
  font-size: 45px;
  font-family: "Value Sans Pro" !important;
  font-weight: 400;
  opacity: 0.95;
  text-align: center;
}
.staff-process .pro {
  color: #000000;
  font-size: 43px;
  /* font-family: "Value Sans Medium" !important; */
  opacity: 0.95;
  text-align: center;
  font-weight: 500;
  line-height: 48px;
}
.process-img img {
  max-width: 1180px;
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 45px;
}
.benifits {
  background: url(../public/static/images/c2.png) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  padding-top: 30px;
}
.benifits h2 {
  color: #101010;
  font-size: 35px;
  /* font-family: "Value Sans Medium" !important; */
  opacity: 0.8;
  line-height: 45px;
  font-weight: 500;
}
.benifits span {
  color: #101010;
  font-size: 36px;
  font-weight: 400;
  font-family: "Value Sans Pro" !important;
  opacity: 0.9;
}
.check {
  display: flex;
  align-items: center;
}
.check img {
  width: 22px;
}

.check p {
  color: #404040;
  /* font-family: "Value Sans Pro" !important; */
  font-weight: 400;
  font-size: 19px;
  margin-left: 8px;
}
.benifits2 img {
  max-width: 513px;
  width: 100%;
}
.staff-service {
  padding: 20px 100px;
  background-color: #001d4c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.staff-service h2 {
  color: #ffffff;
  font-family: "Value Sans Medium" !important;
  font-size: 45px;
  line-height: 60px;
}
.staff-service span {
  color: #ffffff;
  font-family: "Value Sans Pro" !important;
  font-size: 45px;
  font-weight: 400;
}
.staff-service p {
  font-family: "Value Sans Pro" !important;
  color: #ffffff;
  font-size: 19.5px;
  width: 26em;
  margin-top: 18px;
}
.staff-service button {
  background-color: #3c83cb;
  width: 280px;
  height: 75px;
  color: #ffffff;
  font-family: "Value Sans Pro" !important;
  font-weight: 500;
  font-size: 17.5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 38px;
}
.staff-service i {
  margin-left: 8px;
}
.staff-service-second {
  position: relative;
}
.staff-service-second img {
  position: relative;
  top: 51px;
  max-width: 560px;
  width: 100%;
}
.staff-market {
  background-color: #f5f5f5;
  padding: 100px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.staff-market1 h2 {
  color: #101010;
  font-family: "Value Sans Pro" !important;
  font-weight: 400;
  font-size: 36px;
  opacity: 0.9;
  line-height: 45px;
}
.staff-market span {
  font-family: "Value Sans Medium" !important;
  font-size: 36px;
  color: #101010;
}
.staff-market2 img {
  width: 700px;
  max-width: 100%;
}

@media only screen and (max-width: 1234px) {
  .sard {
    flex-direction: column !important;
  }
  .sard img {
    margin-top: 10px;
  }
  .box {
    height: 356px;
  }
}
/* ==============staff css end================== */

/* ==============How It Works css start================== */
.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 3rem;
  font-family: "Poppins", sans-serif !important;
}
.ourtalent-text__para p{
  width: 38em;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif !important;
  max-width: 100%;
}
.howItWorks h1 {
  /* font-family: "Value Sans Medium" !important; */
  font-family: 'Manrope', sans-serif !important;
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #101010;
  opacity: 0.8;
}

.howItWorks-text__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.howItWorks-text__top p {
  color: #202020;
  opacity: 0.8;
  text-align: center;
  opacity: 0.8;
  font-weight: 500;
  font-size: 0.93rem;
  width: 30%;
  max-width: 27rem;
  font-family: 'Manrope', sans-serif !important;
}

.howItWorks-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  margin-top: 1rem;
}

.howItWorks-icons::after {
  content: "";
  display: block;
  width: 108%;
  height: 2px;
  background-color: #085881;
  margin: 2rem 0;
  z-index: -1;
  position: absolute;
  top: 0.5rem;
}

.howItWorks-icons img {
  width: 5.2rem;
}

.howItWorks-text__bottom {
  justify-content: space-evenly;
  width: 80%;
  margin-top: 2rem !important;
}

/* ==============How It Works css end================== */

/* ==============Our Services css start================== */

/* #splide01-track {
  overflow: visible !important;
  overflow-x: hidden;
} */

.homanta .splide__track {
  overflow: visible !important;
  overflow-x: hidden;
}

.serviceCard::before {
  content: url(..../../images/blueHoverCircle.svg);
  display: none;
  /* width: 1rem; */
  position: absolute;
  top: -1rem;
  left: 19.5rem;
  z-index: -1;
}

.serviceCard:hover::before {
  display: inline-block;
}

/* ==============Digital Marketing css start================== */

/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Prompt:wght@100;200;300;400;500;600&display=swap");

:root {
  --secondary: #3c83cb;
  --primary: #ffff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.menu {
  display: flex;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style: none;
  padding: 0px 2rem;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #101010;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.7;
}

.call button {
  width: 251px;
  height: 63px;
  background-color: var(--secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--primary);
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

/* For mobile navbar */

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 2rem;
  color: #101010;
}

.mobile-navbar-btn img:nth-child(2) {
  display: none;
}

/* HeroSection */

.heroSection {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 9rem;
}

.hero-container {
  background: rgba(5, 5, 5, 0.774) url("./digimarket assets/Rectangle 295.png");
  /* opacity: 0.8; */
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10rem 3rem;
  padding: 0rem 2rem;
}

.hero-content input {
  font-size: 18px;
}
.hero-content input::placeholder {
  font-size: 18px;
}
.hero-content button {
  font-size: 14px !important;
  justify-content: center;
}

.hero-content h1 {
  font-weight: 400;
  margin-bottom: 0.7rem;
  font-size: 2.8rem;
  font-family: 'Manrope', sans-serif !important;
  line-height: 3.75rem;
}

.blueLine {
  width: 126px;
  height: 2px;
  border: none;
  background: var(--secondary);
  /* margin: 1rem 0; */
}

.blackLine {
  width: 130px;
  height: 1.5px;
  border: none;
  background: #101010;
}

.hero-content {
  text-align: center;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 1rem;
  font-family: 'Manrope', sans-serif !important;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-top: 1rem;
}

.input > input {
  background-color: var(--primary);
  padding-left: 0.8rem;
  margin-right: 1.5rem;
  color: #101010;
  line-height: 2.3rem;
  width: 35%;
  border-radius: 2px;
  height: 60px;
  border: transparent;
}

.input > input::placeholder {
  color: #101010;
  font-size: 0.7rem;
  font-weight: 500;
  color: #101010;
  font-size: 15px !important;
  opacity: 0.7;
  font-family: "Value Sans Medium" !important;
}

.input > button {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 1rem 0.5rem;
  cursor: pointer;
  width: 35%;
  height: 60px;
  font-size: 0.6rem;
  border-radius: 2px;
  border: transparent;
  font-weight: 500;
  font-family: 'Manrope', sans-serif !important;
  /* font-family: "Value Sans Medium" !important; */
}

.input > button > img {
  margin-left: 10px;
  width: 0.7rem;
}

/* Package section */
.packages {
  background-color: white;
  padding: 3rem 1rem;
  margin: 4rem 0rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.package-types ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.package-types ul li {
  list-style: none;
  width: auto;
  padding: 0.2rem;
  text-align: center;
}

/* animation for horizontal line below the package type */
.package-types ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secondary);
  transition: width 0.3s;
}

.package-types ul li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.package-types ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}
.package-types ul li a:hover {
  font-weight: 600;
  transition: all ease-out 0.4s;
}

.package-cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 85%;
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0;
}

.package-card {
  position: relative;
  width: 20rem;
  min-width: 200px;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 5px 5px;
}

.package-card__heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.package-card__heading h2 {
  font-size: 1.7rem;
  margin: 10px 10px;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.14);
}

.package-card__heading img {
  width: 1rem;
}

.package-card__text {
  font-size: 0.8rem;
  text-align: center;
}

.package-card__text p {
  color: #404040;
  line-height: 1.3rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.package-card__price {
  display: flex;
  align-items: center;
  color: rgba(16, 16, 16, 0.8);

  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.14);
}

.package-card__price > h3 {
  font-size: 1.8rem;
  margin: 1rem;
}

.package-card__price > p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: 0.5;
}

.package-card__button {
  text-align: center;
}
.package-card__button button {
  background: var(--secondary);
  border-radius: 4px;
  border: none;
  padding: 10px 40px;
  margin: 0 0 1rem 0;

  font-family: "Roboto", sans-serif;
  color: var(--primary);
  cursor: pointer;
}

.package-card__button button:hover {
  background-color: #abb9c8;
}

.package-card__benefits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  top: -4.3rem;
  left: 0rem;
  z-index: 999;
  display: none;
  margin: 1rem;
}

.package-card__benefits img {
  width: 1rem;
  align-self: flex-end;
  cursor: pointer;
}

.package-card__benefits ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.package-card__benefits ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.14);
  font-weight: 500;
}

.package-card__benefits ul li img {
  width: 1rem;
  margin-right: 0.5rem;
  align-self: flex-start;
}

/* Portfolio Section */

.packages_section {
  position: relative;
}

.ourtalent {
  display: flex;
  margin-bottom: 4rem;
  padding: 5rem 0 0 0;
  background: url("../public/static/images/d2.png") no-repeat center
    center/cover;
    align-items: center;
}
.digi-packages1 {
  margin-top: 0rem !important;
}
.ourtalent-text {
  width: 55%;
  padding: 0 2rem 5rem 2rem;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ourtalent-text__heading {
  margin: 1rem 0rem;
}
.ourtalent-text__button {
  margin-top: 25px;
}

.ourtalent-text__heading h1 {
  color: #202020;
  opacity: 0.8;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Manrope', sans-serif !important;
  /* font-family: "Poppins", sans-serif !important; */
}

.ourtalent-text__heading h1 span {
  color: var(--secondary);
}

.ourtalent-text__button button {
  background: #085881;
  color: var(--primary);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
}
.ourtalent-text__button img {
  width: 12px;
}
.digi-packages .package-types {
  margin-bottom: 2rem;
}
.digi-packages .package-types h3 {
  font-size: 35px;
  color: #202020;
  line-height: 46px;
  font-family: 'Manrope', sans-serif !important;
}
.digi-packages .package-types p {
  margin: auto;
  font-size: 19px;
  margin-top: 15px;
  width: 70%;
  font-family: 'Manrope', sans-serif !important;
  max-width: 100%;
}

.ourtalent-image {
  position: relative;
  width: 45%;
}

.ourtalent-image img {
  width: 65%;
}

.ourtalent-image img:nth-child(1) {
  margin: 2rem 0 2rem 6rem;
}

.ourtalent-image img:nth-child(2) {
  position: absolute;
  z-index: -1;
  top: 4.5rem;
  left: 7rem;
}

.ourtalent-image img:nth-child(3) {
  position: absolute;
  z-index: -1;
  top: 10rem;
  left: 2rem;
  animation: move 5s infinite;
}

/* Keyframes for rotating a image */
@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7faff;
}

.process h1 {
  margin-top: 5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #101010;

  opacity: 0.8;
  font-size: 1.6rem;
}

.process h1 span {
  color: var(--secondary);
}

.process-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.process-container__card {
  width: 29%;
  min-width: 250px;
  margin: 9px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary);
  transform: scale(0.9);
}
.process-container__card:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.process-container__card__heading {
  display: flex;
  margin-bottom: 10px;
}

.process-container__card__heading h3 {
  display: flex;
  font-weight: 800;
  font-size: 1.6rem;
  margin-right: 0.5rem;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.14);
}

.process-container__card__heading img {
  width: 2rem;
}

.process-container__card__text {
  font-size: 11px;
}

.process-container__card__text p {
  font-size: 1rem;
  font-weight: 500;
}

/* Charts Section */

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: #f7f8f9;
  padding: 3rem;
}

.charts img {
  margin: 0.5rem;
}

.charts img:nth-child(1) {
  width: 23rem;
}

.charts img:nth-child(2) {
  width: 14rem;
}

.charts img:nth-child(3) {
  width: 14rem;
}

.charts img:nth-child(4) {
  width: 14rem;
}

.charts img:nth-child(5) {
  width: 26rem;
}
.charts img:nth-child(6) {
  padding: 1.2rem;
  width: 31rem;
  background-color: white;
  border-radius: 1rem;
}

/* FAQ Section */

.faq {
  background-color: #f7f7fc;
  padding-bottom: 3rem;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-heading h2 {
  margin: 5rem 0 0 0;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary);
  opacity: 0.8;
  font-size: 1.6rem;
}

.faq-heading p {
  font-size: 0.8rem;
  font-weight: 500;
}

.faq-heading h2 span {
  color: var(--secondary);
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: auto;
}

.faq-container__box {
  background-color: var(--primary);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  min-width: 200px;
  margin: 8px;
  padding-left: 12px;

  position: relative;
}

.faq-container__box__heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.faq-container__box__heading__button {
  width: 1.5rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

.faq-container__box__heading h3 {
  color: #404040;
  font-size: 0.9rem;
}

.faqAns {
  position: relative;
  display: none;
  /* height: 0; */
  /* overflow: hidden; */
  /* overflow-y: auto; */
}

.faqAns p {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.activeFaq .faqAns {
  display: block;
  /* height: auto; */
  transition: display 0.5s ease-in-out;
}

/* Contact Us Section */

.bookus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
  background-color: #002b48;
  color: var(--primary);
}
.bookus h2 {
  font-size: 34px;
  font-family: 'Manrope', sans-serif !important;
}

.bookus-heading p {
  /* font-family: "Roboto", sans-serif; */
  opacity: 0.8;
  font-size: 24px;
  font-family: 300;
  margin-bottom: 2rem;
  font-family: 'Manrope', sans-serif !important;
}

.bookus-button button {
  background-color: #1b8ace;
  color: var(--primary);
  box-shadow: 0px 4px 20px rgba(60, 131, 203, 0.2);
  border-radius: 40px;
  border: none;
  padding: 16px 34px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Manrope', sans-serif !important;
}
.bookus-button img {
  width: 12px;
}

.connectus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 400;
  padding: 2.5rem 1rem;
}
.improved {
  padding: 70px 100px;
  position: relative;
  z-index: 2;
}
.improved::before {
  content: "";
  background-color: #d9d9d9;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.improved h2 {
  font-size: 35px;
  line-height: 46px;
  color: #202020;
  opacity: 0.9;
  font-family: 'Manrope', sans-serif !important;
  font-weight: 700;
  /* font-family: "Value Sans Medium" !important; */
  text-align: center;
}
.improved p {
  color: #202020;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin-top: 8px;
  font-family: 'Manrope', sans-serif !important;
}
.improved button {
  border: 1px solid #085881;
  padding: 8px 20px;
  color: #085881;
  font-family: "Value Sans Medium" !important;
  margin: 20px 8px;
}
.improved button:hover {
  background-color: #085881;
  border: none;
  color: #ffffff;
}
.connectus p {
  font-size: 25px;
  font-family: 'Manrope', sans-serif !important;
}
.home568 {
  padding: 120px 0px;
}
.connectus button {
  box-sizing: border-box;
  border: 1.5px solid #ffffff;
  border-radius: 3px;
  background: transparent;
  color: var(--primary);
  padding: 8px 20px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif !important;
}

/* Contact Us Section */

.contactus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 80px 250px;
}
.resources1 img {
  width: 200px;
}

.contactus-container__left {
  width: 100%;
}

.contactus-heading {
  font-family: "Roboto", sans-serif;
}

.contactus-heading h2 {
  font-size: 34px;
  font-weight: 700;
  /* font-family: "Value Sans Medium" !important; */
  font-family: 'Manrope', sans-serif !important;
  color: #202020;
  margin-bottom: 0.3rem;
  text-align: center;
  line-height: 46px;
  opacity: 0.9;
}

.contactus-heading p {
  color: #202020;
  font-size: 19px;
  font-weight: 300;
  margin-top: 0;
  opacity: 0.9;
  text-align: center;
  margin-top: 10px;
}

.contactus-form__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus-form__input input {
  width: 100%;
  padding: 1.3rem 0.8rem;
  border: none;
  margin: 0.8rem 1.3rem;
  color: #6c7591 !important;
  opacity: 0.9 !important;
}
.contactus-form__input select {
  width: 100%;
  padding: 1.3rem 0.8rem;
  border: none;
  margin: 0.8rem 1.3rem;
  color: #6c7591 !important;
  opacity: 0.9 !important;
}

.contactus-form__input textarea {
  width: 100%;
  border: none;
  margin: 0.8rem 1.3rem;
  height: 160px;
  max-height: 100%;
  resize: none;
  color: #6c7591 !important;
  opacity: 0.9 !important;
}
.captcha {
  display: flex;
  background-color: var(--primary);
  width: 42%;
  align-items: center;
  /* padding: 5px; */
  min-width: 210px;
  margin-bottom: 8px;
}

.captcha img {
  width: 2rem;
}
.captcha p {
  font-family: "Prompt", sans-serif;
  margin-right: 2rem;
}

.contactus-form__input button {
  max-width: 270px !important;
  width: 100% !important;
  height: 68px !important;
  font-size: 14.5px !important;
  font-weight: 400 !important;
  margin-top: 30px !important;
}

.contactus-form__input button img {
  width: 0.7rem;
}

.contactus-container__right {
  width: 50%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.contactus-container__right__title {
  display: flex;
}

.contactus-container__right__title h3 {
  margin: 1rem 2rem 1rem 2rem;
  cursor: pointer;
}

.contactus-container__right__title h3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secondary);
  transition: width 0.3s;
  margin-top: 1rem;
}

.contactus-container__right__title h3:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.contactus-container__right__Address__details {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin: 1rem 0rem;
}

.contactus-container__right__map {
  display: none;
}

.contactus-container__right__Address__details__icon {
  position: relative;
}

.contactus-container__right__Address__details__icon img:nth-child(1) {
  width: 15px;
  position: absolute;
  top: 14px;
  left: 11px;
}
.contactus-container__right__Address__details__icon img:nth-child(2) {
  width: 42px;
}

.contactus-container__right__Address__details__text {
  font-family: "Prompt", sans-serif;
  padding-left: 12px;
}

.contactus-container__right__Address__details__text p:nth-child(1) {
  color: #0e2b3d;
  font-size: 12px;
  margin: 0;
}
.contactus-container__right__Address__details__text p:nth-child(2) {
  color: #0e2b3d;
  font-size: 10px;
  margin: 0;
}

/* Footer Section */

.footer {
  background-color: #001d4c;
  color: var(--primary);
  position: relative;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.footer-top__address img {
  width: 2rem;
}

.footer-top p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  margin: 0;
}

.footer-top__address {
  display: flex;
  align-items: center;
}

.footer-top > img {
  width: 12rem;
  margin: 1rem;
}

.footer-mid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}

.footer-mid p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0 4rem;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}

.footer-bottom p {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  margin: 0 4rem;
}

.footer-bottom img {
  width: 16rem;
}

.bluemap img {
  width: 40%;
  min-width: 27rem;
  height: 79%;
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 1;
}
.digi-ser-main {
  padding-top: 0;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  /* For Responsive Navbar */
  .mobile-navbar-btn {
    display: block;
    z-index: 2;
    border: 3px solid #101010;
  }
  .container {
    position: relative;
  }
  .menu {
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
    position: absolute;
    top: 88px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* to get the transition */
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 2rem;
  }

  /* For Active class of menu */

  .activeNav .menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .activeNav .mobile-nav-icon:nth-child(1) {
    display: none;
  }

  .activeNav .mobile-nav-icon:nth-child(2) {
    display: block;
  }

  .input {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .ourtalent {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem !important;
  }
  .hero-content input {
    width: 70%;
    text-align: center;
    margin: 0;
  }
  .hero-content button {
    width: 70%;
  }
  .ourtalent-text {
    padding: 2rem 0rem;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .ourtalent-text__button {
    margin: auto;
    margin-top: 1rem !important;
  }
  .ourtalent-image {
    position: relative;
    width: 100%;
  }
  .ourtalent-image img:nth-child(2) {
    left: 11rem;
  }
  .ourtalent-image img:nth-child(1) {
    margin: 2rem 0 2rem 10rem;
  }
}

@media screen and (max-width: 860px) {
  .ourtalent-image img:nth-child(2) {
    left: 9rem;
  }
  .ourtalent-image img:nth-child(1) {
    margin: 2rem 0 2rem 8rem;
  }
  .process-container__card {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .package-types ul {
    flex-wrap: wrap;
    width: 60%;
    min-width: 30rem;
  }

  .package-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .whatwedo__cards {
    flex-direction: column;
    align-items: center;
  }

  .process-container {
    flex-direction: column;
    align-items: center;
  }

  .faq-container {
    flex-direction: column;
    align-items: center;
  }

  .connectus {
    flex-direction: column;
    align-items: center;
  }

  .contactus {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .contactus-container__right {
    width: 80% !important;
    margin-left: 0;
  }

  .contactus-container__left {
    width: 80% !important;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-mid {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* ==============Digital Marketing css end================== */

/* ==============Hire Navabar CSS start================== */

.hire-nav {
  position: absolute;
  z-index: 999;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0px 2px 2px 2px;
  top: 4rem;
  padding: 0px;
  left: -36rem;
}

.hire-nav__containers {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 0rem;
}

.hire-nav__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.hire-nav__container__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  background: #085881;
  border-radius: 0px 10px 0px 0px;
  padding: 0.4rem 0.3rem;
  gap: 0.3rem;
}

.hire-nav__container__header img {
  width: 1.1rem;
}
.hire-nav__container__header h3 {
  font-size: 0.75rem;
  color: var(--primary);
  font-family: 'Manrope', sans-serif !important;
  font-weight: 500;
}

.hire-nav__container ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.4rem;
  width: 100%;
  padding-top: 0.5rem;
}
.hire-nav__container ul li a {
  text-transform: capitalize;
  color: #202020;
  opacity: 0.75;
}

@media only screen and (max-width:1262px){
  .ourtalent-text__para p{
    width: 100%;
  }
}
