@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&family=Prompt:wght@400;500;600&family=Questrial&family=Roboto:wght@400;500&display=swap");

.about-main h1 {
  font-size: 30px;
  font-weight: bold;
}
.about-main h3 {
  font-size: 34px;
}

.about-main h5 {
  font-size: 20px;
}

.about-main p {
  font-size: 16px;
}

.about-main b {
  font-size: 16px;
}

.about-main a {
  font-size: 16px;
}

.about-main11 {
  padding-left: 4rem;
  height: 100%;
}
.about-main-11 h3 {
  font-size: 45px !important;
  font-weight: 500;
}
.about-main11 img {
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  left: 0;
}
.about-main111 h3 {
  color: white !important;
  font-weight: 700;
  font-size: 40px;
}
.about-main111 p {
  color: white !important;
  font-size: 18.5px;
  font-weight: 400;
}
.about-main {
  padding-top: 8.6rem;
}

.about-main1 {
  background: url("/public/static/images/e5.png") no-repeat center center/cover;
  height: 26rem;
  width: 100%;
}

.about-main2 {
  margin: auto;
  width: 64rem;
  position: relative;
  top: -60px;
}

.about2 {
  padding: 6px 22px;
}
.about2 p {
  color: white;
  text-align: center;
}

.about-main21 {
  padding: 10px 25px;
  background-color: #085881;
}

.about-main3 {
  margin: 2rem 0rem;
}

.about-main31 {
  padding: 0rem 6rem;
}
.about31 h6 {
  color: #202020;
  font-size: 19px;
  font-weight: 500;
  font-family: "Manrope", sans-serif !important;
}
/* .about32 img {
  max-width: 580px;
  width: 100%;
} */
.about32{
  position: relative;
  margin-right: 50px;
}
.about_vector{
  position: absolute;
  width: fit-content;
  right: -70px;
  top: 5px;
}
.about32 .aboutVector{
width: 590px;
max-width: 590px;
}
.about32 .aboutVector1{
  max-width: 478px;
  width: 100%;
  position: relative;
}

.about31 h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 34px;
  color: #33475B;
  opacity: 0.9;
}

.about31 h3 {
  margin-bottom: 10px;
}
.about31 p {
  font-size: 19.5px;
  /* color: #404040; */
  font-weight: 400 !important;
  color: #33475B !important;
  width: 36em;
  max-width: 100%;
  /* line-height: 30px; */
  letter-spacing: 0.5px;
}

.about-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 50px; */
  max-width: 260px;
  width: 100%;
  height: 62px;
  background-color: #085881;
  margin-top: 25px;
}
.about-btn span {
  margin-right: 6px;
}
.about-main-3 {
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.about-main-31 h1 {
  margin-right: 6rem;
  width: 20%;
  color: #33475B;
  font-weight: bold;
}
.about-main-31 {
  padding: 0rem 6rem;
}

.about-main-31 p {
  width: 50em;
  max-width: 100%;
  font-size: 19px;
  font-weight: 400;
  color: #33475B;
}

.about-main4 {
  /* margin-bottom: 3rem; */
  background: url("/public/static/images/e8.png") no-repeat center center/cover;
  width: 100%;
  position: relative;
  z-index: 5;
  padding: 30px 0px;
}

.about-main4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #085881;
  opacity: 0.8;
  z-index: -1;
}
.about-main4 h1 {
  font-size: 34px;
  color: #ffffff;
  font-weight: 700;
  line-height: 46px;
}
.about4 {
  margin-top: 2rem;
}

.about-main41 {
  padding: 2rem 0rem;
}

.about41 {
  padding: 30px;
  border: 12px solid black;
  width: 38.5%;
  padding-bottom: 50px;
  background-color: white;
  margin: 0px 10px;
  /* height: 350px; */
  max-height: 100%;
  /* height: 380px; */
  padding-bottom: 60px;
}
.about41 p {
  font-size: 16px;
  font-weight: 400;
  color: #33475B !important;
  opacity: 0.9;
  line-height: 26px;
}
.about41 img {
  margin: auto;
  width: 30px;
  margin-bottom: 10px;
}
.about-main5 {
  padding: 60px 0px;
}
.about-main5 h1 {
  color: #33475B;
  opacity: 0.9;
  font-size: 34px;
  line-height: 46px;
  font-weight: bold;
}
.about-main5 .over {
  color: #33475B !important;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 400;
}
.about41 h5 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 25px;
  color: #33475B;
}
.about-main51 p {
  text-align: center;
}
.about5 {
  padding: 0px 200px;
  margin-top: 19px;
}
.about51 {
  margin-bottom: 20px;
}
.about5-card {
  border-radius: 8px;
  background-color: #ffffff;
  max-width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  padding: 25px 0px;
}
.about5-card:hover {
  color: white !important;
  background-color: #085881;
}
.about5-card:hover h4{
  color: #ffffff !important;
}
.about5-card:hover p{
  color: #ffffff !important;
}
.about5-card h4 {
  font-weight: 700;
  font-size: 20px;
  color: #33475B;
  font-weight: bold !important;
  /* color: #202020; */
}
.about5-card p {
  font-size: 15.5px;
  font-weight: 400;
  color: #33475B !important;
}
.about52 {
  display: flex;
  margin-bottom: 20px;
}
.about53 {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
/* .about7{
    background-image: url('./images/chirag.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    height: 306px;
} */
.about7 .absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about7 {
  position: relative;
  width: 100%;
  z-index: 5;
  cursor: pointer;
  /* animation: alternate; */
}
.about7 .linkj {
  width: 18px !important;
  height: auto !important;
}
.linkj1 {
  margin-top: 20px;
}
.linkj1 img {
  margin: 0px 10px;
  border-radius: 0px !important;
}
.about7 img {
  width: 320px;
  object-fit: cover;
  height: 300px;
  border-radius: 5px;
}
.about7:hover.about7 {
  transition: all .5s;
  top: 0;
  background: #085881;
  /* position: absolute; */
}
.about7:hover.about7::before {
  content: "";
  position: absolute;
  top:0% ;
  left: 0;
  width: 100% !important;
  height: 100%;
  width: 320px;
  background: #085881;
  opacity: 0.95;
  z-index: 0;
  border-radius: 5px;
}
.about7 p {
  display: none;
}
.about7:hover p {
  display: block;
}
.about7 .chief {
  display: none;
  transition: 0.5s;
}
.about7:hover .chief {
  display: block;
  transition: 0.5s;
}
.chief h2 {
  font-family: "Manrope", sans-serif !important;
  font-weight: bold;
  font-size: 20px;
}
.about-main7 {
  margin-top: 80px;
}
.about72 {
  margin: 20px 15px;
}
.about7:hover{
  transform: scale(1.05);
  transition: .8s;
}
.about72 h4 {
  color: #33475B;
  font-family: "Manrope", sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}
.about72 p{
  color: #33475B !important;
  font-weight: 400;
}
.about-main7 h1 {
  margin-bottom: 2rem;
  color: #33475B !important;
}
/* .about7 {
    margin: 7px;
} */

.about-main6 {
  /* margin-bottom: 3rem; */
  margin-top: 2rem;
}
.office-about {
  padding: 100px 100px;
  position: relative;
  z-index: 2;
}
.office-about::before {
  background-color: #f6f3f3;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 100%;
}
.process-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.process-flex1 {
  margin-right: 40px;
}
.process-flex2 {
  margin-left: 40px;
}
.process-flex1 img {
  max-width: 650px;
  width: 100%;
}
.process-flex2 h2 {
  color: #33475B !important;
  opacity: 0.9;
  font-weight: bold;
  line-height: 46px;
  font-size: 34px;
}
.process-flex2 p {
  color: #33475B !important;
  font-size: 19.5px;
  font-weight: 400;
  width: 35em;
  max-width: 100%;
  letter-spacing: 0.5px;
  margin-top: 14px;
}
.process-flex2 button {
  max-width: 270px;
  width: 100%;
  background-color: #085881;
  font-size: 15.5px;
  height: 64px;
  color: #ffffff;
  margin-top: 30px;
}
.process-flex2 button:hover{
  background-color: #3c83cb;
}
.office-flex1 button:hover{
  background-color: #3c83cb;
}
.office-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.office-flex1 h2 {
  color: #33475B;
  opacity: 0.9;
  font-weight: bold;
  line-height: 46px;
  font-size: 34px;
}
.office-flex1 p {
  color: #33475B;
  font-size: 19.5px;
  font-weight: 400;
  width: 35em;
  max-width: 100%;
  letter-spacing: 0.5px;
  margin-top: 14px;
}
.office-flex1 button {
  max-width: 270px;
  width: 100%;
  background-color: #085881;
  font-size: 15.5px;
  height: 64px;
  color: #ffffff;
  margin-top: 30px;
}
.office-flex2 img {
  max-width: 650px;
  width: 100%;
}
.office-flex1 {
  margin-right: 40px;
}
.office-flex2 {
  margin-left: 40px;
}
.about-main81 {
  position: relative;
}
.about-main81 .history {
  font-size: 100px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.21;
  position: absolute;
  left: 38%;
}
.about-11 h3 {
  color: #33475B !important;
  opacity: 0.9;
  font-weight: bold;
  line-height: 46px;
}
.about-11 p {
  font-size: 19.5px;
  font-weight: 400;
  color: #33475B !important;
  width: 27em;
  max-width: 100%;
}
.about-btn4 {
  max-width: 280px;
  width: 100%;
}
.about-main-10 {
  margin-bottom: 3rem;
}

.about-main-11 {
  margin-bottom: 3rem;
  padding: 0rem 3.4rem;
}
.about-main-11 .about-11 {
  margin-left: 0;
}

.about-main-101 {
  padding: 0rem 3rem;
}

.about-10 {
  /* width: 40%; */
  /* margin-left: ; */
  margin-left: 80px;
}
.about-10 .sersa {
  max-width: 720px;
  width: 100%;
}
.about-11 {
  /* width: 60%; */
  /* margin-left: 3rem; */
  margin-right: 80px;
}
.about-main71 {
  padding: 0rem 5rem;
}
.about-11 h3 {
  margin-bottom: 12px;
}
.about-main-12 button {
  background: #085881;
  color: white;
  padding: 10px 50px;
}
.about-main-12 button:hover{
  background-color: #3c83cb;
}
.about2 img {
  width: 40px;
}
.about-main-13 {
  background-color: #085881;
  padding: 30px 0px;
}
.about-main-13 button {
  background-color: white;
  color: #202020;
  width: 270px;
  max-width: 100%;
  height: 68px;
  /* font-family: 'Roboto', sans-serif !important; */
  font-size: 15.5px;
  font-weight: 500;
  margin-top: 25px;
}
.about-main-12 {
  margin: 6rem 0rem;
}
.about-main-12 .about-11 p {
  margin-bottom: 20px;
}
.about-main-120 {
  padding: 0rem 6rem;
}
.about-main-12 .about-11 {
  margin-left: 0;
  margin-right: 3rem;
}
.about-main-130 {
  padding: 2rem 6rem;
}
.about-main-130 .about-11 {
  margin-left: 0;
  margin-right: 3rem;
}
.about-main-130 .about-btn {
  color: black;
  width: 298px;
  max-width: 100%;
  height: 68px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 600;
  font-size: 15.5px;
}
.about11 button {
  width: 270px !important;
  max-width: 100% !important;
  height: 68px !important;
}
.about-main-130 h3 {
  color: #ffffff !important;
  font-size: 34px;
  opacity: 100% !important;
}
.about-main8 {
  background: #145c81;
  padding-top: 30px;
}
.about-main81 {
  padding: 2.5rem 6rem;
}
.about80 {
  color: white;
}
.about8 b {
  border-bottom: 1px solid white;
}
.about8 {
  margin-right: 3rem;
}
.about8 h3 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 46px;
}
.about8 .founded {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.about8 .started {
  color: #ffffff;
  font-weight: 600;
  font-size: 18.5px;
  width: 29em;
  max-width: 100%;
}
.about81 img {
  max-width: 615px;
  width: 100%;
}
.about802 {
  width: 90%;
  margin-left: 10px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 20px;
}
.sit {
  visibility: hidden;
}
.vit {
  visibility: visible;
}
.about801 {
  z-index: 2;
  text-align: center;
  color: white;
}
.about801 b {
  margin-left: -2px;
}
.about801 b:hover{
  color: #0c62ff !important;
}
.about801 img {
  background: white;
  border-radius: 50%;
  margin-bottom: 8px;
}
.nb-0 {
  padding: 27px 0px;
}


/* =========================tumhara css=============== */
.section78878{
  padding-bottom: 80px;
}
.heading{
  color: #33475B;
  font-size: 34px;
  margin-top: 93px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 4.4px;
  position: relative;
  top: -22px;
  text-align: center;
}
.first{
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 226px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.hd-1{
  
  color: #33475B;
  font-size: 24px;
  font-weight: 700;

}
.hd-2{
  color: white;
  font-size: 24px;
  position: relative;
  animation-name: text2;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}
@keyframes text2{
  100%{
      color: #33475B;
      font-size: 24px;
      font-weight: 700;

  }
}
.hd-3{
  color: white;
  font-size: 24px;
  position: relative;
  animation-name: text3;
  animation-delay: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  

}
@keyframes text3{
  100%{
      color: #33475B;
      font-size: 24px;
      font-weight: 700;

  }
}
.hd-4{
  color: white;
  font-size: 24px;
  position: relative;
  animation-name: text4;
  animation-delay: 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  

}
@keyframes text4{
  100%{
      color: #33475B;
      font-size: 24px;
      font-weight: 700;

  }
}
.hd-5{
  color: white;
  font-size: 24px;
  position: relative;
  animation-name: text5;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
  

}
@keyframes text5{
  100%{
      color: #33475B;
      font-size: 24px;
      font-weight: 700;

  }
}
.hr1
{
  margin-top: -12px;
  position: relative;
  animation-name: line1;
  animation-duration: 9s;
  
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 1350px;
  margin-left: 68px;
  color: #085881;

}

@keyframes line1 {
 0%{
  width: 10px;
 
 }

 100%{
  width: 1450px;
  
  }
 
 
}
.space{
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 278px;
  position: relative;
  z-index: 2;
}


.background-2{
  height: 17px;
  width: 17px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  animation-name: rd-1;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rd-1{
  100%{
      height: 17px;
  width: 17px;
  background-color: #085881;
  border-radius: 50%;

  }
}
.background-3{
  height: 17px;
  width: 17px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  animation-name: rd-2;
  animation-delay: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rd-2{
  100%{
      height: 17px;
  width: 17px;
  background-color: #085881;
  border-radius: 50%;

  }
}
.background-4{
  height: 17px;
  width: 17px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  animation-name: rd-3;
  animation-delay: 3.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rd-3{
  100%{
      height: 17px;
  width: 17px;
  background-color: #085881;
  border-radius: 50%;

  }
}
.background-5{
  height: 17px;
  width: 17px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  animation-name: rd-4;
  animation-delay: 4.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes rd-4{
  100%{
      height: 17px;
  width: 17px;
  background-color: #085881;
  border-radius: 50%;

  }
}

.section-list{
  display: flex;
  justify-content: space-between;
  margin-left: 56px;
  margin-right: 158px;
  
}
.list11{
  height: 190px;
  border-left: 3px solid white;
  position: relative;
  animation-name: border11;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 6px;
}
@keyframes border11{
  from{
      height: 0px;
  }
  to{
      height: 190px;
      border-color: #085881;
  }
}
.list1{
  height: 190px;
  border-left: 3px solid white;
  position: relative;
  animation-name: border;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 6px;
  left: 4px;
}
@keyframes border{
  from{
      height: 0px;
  }
  to{
      height: 190px;
      border-color: #085881;
  }
}
.list2{
  border-left: 3px solid white;
  position: relative;
  animation-name: border-2;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 120px;
  margin-top: 6px;
  left: 7px;
}
@keyframes border-2{
  from{
      height: 0px;
  }
  to{
      height: 120px;
      border-color: #085881;
  }
}
.list21{
  border-left: 3px solid white;
  position: relative;
  animation-name: border-21;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 120px;
  margin-top: 6px;
  left: 9px;
}
@keyframes border-21{
  from{
      height: 0px;
  }
  to{
      height: 120px;
      border-color: #085881;
  }
}
.list3{
  border-left: 3px solid white;
  position: relative;
  animation-name: border-3;
  animation-delay: 7s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 120px;
  margin-top: 6px;
  left: 1px;
}
@keyframes border-3{
  from{
      height: 0px;
  }
  to{
      height: 120px;
      border-color: #085881;
  }
}





.section-2 li{
  /* list-style: none; */
  color: white;
  list-style-type: disc;
  font-family: Proxima Nova;
  font-size: 19px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 38px;
  
margin-left: 24.9px;
  position: relative;
  animation-name: list-item;
  animation-delay: 9s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
right: 8px;
bottom: 4px;
}

/* .section-2 ul li::after{
  content: "\2022";
  color: #085881;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
} */
@keyframes list-item{
  100%{

color: #085881 ;
margin-left: 24.9px;
font-family: Proxima Nova;
font-size: 19px;
font-weight: 400;
line-height: 31px;
margin-top: 38px;
position: relative;
right: 8px;
bottom: 4px;
  }
  
}

.li-2{
  margin-left: 32px;
}
.li-3{
  margin-left: 16px;

}

.li-5{
  margin-right: -31px;
  margin-left: 83px;

}


/* ==================diksha====================== */

.staff-paper {
  /* background-color: aqua; */
  display: flex;
}
.local-left {
  padding: 9rem 0rem 0rem 6rem;
  width: 50%;
  /* background-color: aqua; */
}
.local-right {
  width: 50%;
  /* background-color: bisque; */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0rem;
}
.velly {
  font-size: 33px;
  color: #33475b;
  padding-top: 20px;
  padding-left: 4rem;
  text-align: left;
  /* line-height: 35px; */
  font-weight: bold;
  width: 16em;
  max-width: 100%;
  /* max-width: 70%; */
}

.dove-bb {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ccc; */
  width: 100%;
}
.jorry {
  width: 180px;
  height: 35px;
  opacity: 0.5;
}
.dark-line {
  width: 2px;
  height: 70px;
  margin-left: 50px;
  margin-right: 50px;
}
.kick {
  width: 210px;
  height: 80px;
  opacity: 0.5;
}
.Dment {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 3%; */
  margin-top: 30px;
}
.guns {
  width: 170px;
  height: 40px;
  opacity: 0.5;
}
.nijia {
  width: 170px;
  height: 35px;
  margin-left: 4%;
  opacity: 0.5;
}
.trunks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6%;
  margin-top: 40px;
}
.rely {
  width: 70px;
  height: 50px;
  opacity: 0.5;
  margin-right: 8%;
}
.pro {
  width: 70px;
  height: 70px;
  margin-left: 6%;
  opacity: 0.5;
}
/* ************************************************ */
.group-main {
  width: 100%;
}
.looft {
  width: 100%;
  background-image: url("./images/Rectangle\ 18297\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  max-width: 45%;
  padding: 5rem 6rem;
  /* padding: 2rem 0rem 3rem 6rem; */
}
.in-house {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: white;
  width: 14em;
  max-width: 100%;
  line-height: 46px;
}
.bord {
  margin-top: 2.5rem;
  max-width: 270px;
  width: 100%;
  height: 64px;
  font-size: 18px;
  color: #33475b;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: white;
}
.bord:hover{
  background-color: #3c83cb;
  transition: all .5s;
  color: #fff;
}
/* *************************************** */
.teach-team {
  align-items: center;
  background-image: url("./images/Group\ 1000007384.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 800px;
  text-align: center;
}
.glory {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 6rem;
  color: #33475b;
}

.strick {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
  color: #33475b;
  padding-top: 10px;
  opacity: 0.8;
}
.bbbc {
  margin-bottom: 4rem;
  margin-top: 50px;
}
.p-allo {
  display: flex;
  font-weight: 700;
  margin-left: 43%;
  /* padding-top: 30px; */
}
.allo {
  margin-right: 10%;
  line-height: 25px;
  font-size: 18px;
  color: #33475b;
}
.local-img {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -40%;
}
.local-img > img {
  width: 80%;
}
.tik_untik{
  display: block;
  margin: auto;
  margin-top: 10px;
}
.status {
  padding-top: 4rem;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  color: #33475b;
}
.apple {
  margin-top: 40px;
  padding: 20px 70px 20px 70px;
  background-color: #1265ff;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  border: none;
  font-weight: bold;
}
.apple:hover{
  background-color: #3c83cb;
}

/* ***************************************************** */
.our-hightlight {
  display: flex;
  margin-bottom: 4rem;
}
.safolo-left {
  width: 50%;
  padding: 0rem 0rem 0rem 8rem;
  /* background-color: aqua; */
}
.seamless {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  max-width: 60%;
  color: #33475b;
}
.phone-box {
  width: 40px;
  height: 40px;
}
#group-men {
  width: 450px;
  height: 420px;
  margin-top: 30px;
}
.safolo-right {
  width: 50%;
  display: flex;
}
.circle-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dotted {
  border: 1.2px dotted #33475b;
  height: 141px;
  width: 1px;
  /* margin-left: 20px; */
}
.ylo {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.tile {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #33475b;
}
.toggle {
  color: #33475b;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 25px;
  text-align: left;
  padding-top: 15px;
}
.discover-main {
  margin-left: 3rem;
  padding-right: 8rem;
  /* margin-top: 1rem; */
}
.doveloper-main {
  margin-left: 3rem;
  padding-right: 8rem;
  margin-top: 1rem;
}
.onbord-main {
  margin-top: 2.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-right: 8rem;
}
.line_btn {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 2rem;
}
.scale {
  /* margin-top: 3rem; */
  padding: 20px 60px 20px 60px;
  background-color: #1265ff;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}
.scale:hover{
  background-color: #3c83cb;
}
#short {
  width: 40px;
  height: 1px;
  /* margin-top: 30px; */
  border: 1.2px dotted #33475b;
}
#horn {
  width: 20px;
  height: 1px;
  margin-left: 20px;
  border: 1.2px dotted #33475b;
}


