@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Prompt:wght@400;500;600&display=swap');

.header {
  background-color: #3C83CB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 100px;
}

.first-header {
  display: flex;
}

.first-header span {
  margin-left: 10px;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 18px;
}

.noida {
  display: flex;
  align-items: center;
}

.noida p {
  color: #ffffff;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16.5px;
  margin-left: 10px;
}

.noida img {
  width: 24px;
}

.email {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.email p {
  color: #ffffff;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  /* text-transform: capitalize; */
  font-size: 16.5px;
  margin-left: 10px;
}

.email img {
  width: 24px;
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.phone img {
  width: 24px;
}

.phone p {
  color: #ffffff;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16.5px;
  margin-left: 10px;
}

.timer {
  display: flex;
  align-items: center;
}

.timer p {
  font-family: "Medium";
  font-size: 16.5px;
  color: #ffffff;
  margin-left: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 100px;
}

.navbar-text ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul .sar {
  margin-left: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: #101010;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .8;
}

.navbar ul li button {
  width: 190px;
  height: 50px;
  background-color: #3C83CB;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
}

.logo img {
  width: 220px;
  max-width: 100%;
}

.contact-back {
  background-image: url("./images/contact.png"),
    linear-gradient(93.1deg, #060B06 10.41%, rgba(6, 11, 6, 0.94258) 2.89%, rgba(6, 11, 6, 0) 60.61%);
  background-blend-mode: darken;
  width: 100%;
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 100px;
}

.contact-sect {
  position: absolute;
  top: 50%;
  color: #ffffff;
  transform: translate(-0%, -50%);
}

.contact-sect h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  text-transform: uppercase
}

.contact-sect p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 19px;
  width: 34em;
  line-height: 33px;
  margin-top: 15px;
}

.need-help {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 100px;
  background-color: #F3F3F3;
}

.first-need h2 {
  font-family: 'Prompt', sans-serif !important;
  font-weight: 500;
  font-size: 36px;
  color: #0E2B3D;
  font-style: normal;
  text-transform: capitalize;
}

.first-need p {
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  color: #666B6B;
  font-size: 20px;
  text-transform: capitalize;
}

.first-need form {
  width: 100%;
  margin-top: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-group input,
.input-group textarea {
  width: 100%;
  outline: none;
  border: none;
  background-color: #FFFFFF;
  padding: 12px 15px;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-size: 15px;
  color: #6C7591;
  font-style: normal;
}

.input-group textarea {
  height: 240px;
  resize: none;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
  color: #6C7591;
}

.inp {
  margin-left: 20px;
}

.input-group1 {
  margin-top: 22px;
}

form button {
  background-color: #086AD8;
  cursor: pointer;
  outline: none;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 600;
  font-size: 17px;
  width: 290px;
  height: 60px;
  max-width: 100%;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 22px;
}

.second-need {
  width: 100%;
  margin-left: 75px;
  margin-top: 25px;
}

.first-need {
  width: 100%;
  margin-right: 75px;
}

.diff-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.hr-line {
  border: 1px solid #000000;
  width: 100%;
  opacity: .2;
  /* margin-top: 5px; */
}

.diff-section .address {
  color: #1C6BFF;
  border-bottom: 3px solid #1C6BFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.diff-section .maps {
  color: #0E2B3D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  margin-left: 40px;
  line-height: 36px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.loc-section {
  display: flex;
  align-items: center;
}

.loc-section img {
  width: 88px;
  max-width: 100%;
}

.loc-section h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  color: #0E2B3D;
}

.loc-section p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #0E2B3D;
  text-transform: capitalize;
  margin-top: 8.5px;
}

.loc-para {
  margin-left: 12px;
}

.map-locate {
  margin-top: 45px;
}

.loc-section1 {
  margin-top: 45px;
}

.mpas iframe {
  width: 100%;
  height: 640px;
  max-height: 100%;
}

.foot {
  background-image: url('./images/footer.png');
  width: 100%;
  height: 100%;
  padding: 80px 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-footer img {
  width: 220px;
  max-width: 100%;
}

.second-footer {
  display: flex;
  align-items: center;
}

.second-footer p {
  color: #FFFFFF;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  margin-left: 15px;
  text-transform: capitalize;
}

.second-footer img {
  width: 45px;
}

.third-footer {
  display: flex;
  align-items: center;
}

.third-footer .maa {
  color: #FFFFFF;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  margin-left: 15px;
  text-transform: lowercase;
}

.third-footer img {
  width: 45px;
}

.fourth-footer {
  display: flex;
  align-items: center;
}

.fourth-footer p {
  color: #FFFFFF;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  margin-left: 15px;
  text-transform: capitalize;
}

.fourth-footer img {
  width: 45px;
}

.information {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.information p {
  color: #ffffff;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 400;
  font-size: 17px;
}

.information span {
  margin-left: 6px;
}

.ins {
  margin-left: 12px;
}

.lower-footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.second-lower {
  margin-left: 110px;
}

.second-lower h3 {
  color: #ffffff;
  font-family: 'Prompt', sans-serif !important;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
}

.first-lower .atthe {
  font-family: 'Prompt', sans-serif !important;
  font-weight: 600;
  font-style: italic;
  color: #FFFFFF;
  font-size: 17px;
  opacity: .95;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.social-links img {
  width: 20px;
}

.fb {
  margin-left: 15px;
}

/* =============staff argumention css start================== */
.staff-back {
  background-image: url('./images/staff.png');
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 100px;
  position: relative;
}

.staff-sect {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.staff-sect h2 {
  color: #101010;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 60px;
  font-size: 45px;
}

.staff-sect span {
  color: #3C83CB;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.staff-sect p {
  color: #000000;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 29em;
  margin-top: 15px;
}

/* ==================staff argumention css end===================== */

/* =============== Home Css Start =============== */
.home1 {
  background-color: #e8f0f7;
  ;
}

.home1111 h2 {
  font-size: 45px;
  line-height: 56px;
  font-weight: 700 !important;
  /* width: 18em; */
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  margin-top: 10px;
}

.home1111 p {
  font-size: 21px;
  font-weight: 500;
  margin-top: 12px;
}

.home111 {
  width: 60%;
}

.home112 {
  width: 40%;
  height: 100%;
}

.home112 img {
  width: 100%;
  height: 100%;
}

.home1112 {
  bottom: 30px;
}

.home1 {
  height: 38rem;
}

.home11 {
  height: 100%;
}

.home1112 ul li {
  list-style: disc;
  margin: 0px 15px;
  opacity: 0.7;
  font-weight: 600;
  font-size: 19.5px;
  color: #000000;
}

.home211 {
  width: 60%;
}

.home212 {
  display: flex;
  align-items: center;
  width: 40%;
}

.home212 img {
  width: 100%;
  height: 85%;
}

.home211 h1 {
  font-size: 70px;
}

.home211 h5 {
  font-size: 22px;
  font-weight: 500;
}

.home211 h3 {
  font-size: 31px;
  line-height: 38px;
  font-weight: 500;
}

.home211 p {
  color: #404040;
  font-size: 19.5px;
  font-weight: 500;
  margin-top: 10px;
}

.home211 img {
  width: 600px;
  max-width: 100%;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  justify-content: center;

}

.btn1 {
  background-color: #3C83CB;
  color: white;
  /* padding: 12px 34px; */
  width: 285px;
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}

.btn2 {
  width: 160px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
}

.s-card1 p {
  color: #101010;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.s-card1 h5 {
  color: #101010;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  margin-left: 10px;
}

.home311 h1 {
  font-size: 40px;
  width: fit-content;
  font-weight: 500;
  margin: auto;
  color: #010C1E;
}

.home312 {
  margin-top: 40px;
}

.home311 span {
  font-weight: 700;
  color: #010C1E;
}

.home311 p {
  width: 60%;
  margin: auto;
  font-weight: 500;
  font-size: 19.5px;
  color: #404040;
}

.splide__arrow {
  background: #086AD8 !important;
  opacity: 1;
}

.splide__arrow svg {
  fill: #fff !important;
}

.splide__arrow--next {
  top: 550px !important;
}

.splide__arrow--prev {
  top: 550px !important;
  left: auto !important;
  right: 12em !important;
}

.splide__pagination {
  left: auto !important;
  bottom: -2.5em !important;
  right: 6em !important;
}

.splide__pagination__page {
  border: 1px solid #3C83CB !important;
  background: none !important;
}

.splide__pagination__page.is-active {
  background: #3C83CB !important;
}

.home411 h1 {
  font-size: 40px;
  font-weight: 500;
}

.home411 span {
  font-weight: 700;
}

.home411 p {
  width: 50%;
  margin: auto;
  font-size: 19.5px;
  color: #404040;
  font-weight: 500;
}

.home4121 {
  background-color: white;
  padding: 17px;
  padding-bottom: 8px;
  border-radius: 8px;
  width: 190px;
  max-width: 100%;
}

.home4121 p {
  margin-top: 10px;
  text-align: center;
  font-size: 17.5px;
  font-weight: 500;
}

.home511 .portfolio {
  display: block;
  margin: auto;
  width: 550px;
  max-width: 100%;
}

.home511 h1 {
  font-size: 36px;
  color: #101010;
  font-weight: bold;
  letter-spacing: 0.15em;
  opacity: .8;
}

.home511 p {
  width: 40%;
  margin: auto;
  font-size: 19.5px;
}

.btn3 {
  font-size: 16px;
}

.port-card {
  width: 46%;
}

.port-card img {
  width: 100%;
  height: 100%;
}

.port-card1 button {
  background-color: #3C83CB;
  color: white;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 20px;
  bottom: -25px;
}

.home52 {
  margin: auto;
}

.home611 {
  font-size: 35px;
}

.home6121 .p2 {
  margin-left: 79px;
}

.home6121 .p4 {
  margin-right: 143px;
}

.home711 h1 {
  font-size: 36px;
  font-weight: bold;
  color: #101010;
  opacity: .8;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 50px;
}

.d-card {
  border: 1px solid #D9DDE2;
  border-radius: 6px;
  width: 30%;
}

.d-card11 img {
  width: 35px;
  height: 40px;
}

.d-card11 h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3vmax;
}

.d-card12 p {
  font-weight: 500;
  font-size: 17px;
  color: #404040;
  margin-top: 20px;
}

.home712 {
  margin-top: 40px;
}

.home811 h2 {
  font-size: 36px;
  font-weight: bold;
  opacity: .8;
  color: #101010;
  letter-spacing: 0.15em;
}

.home811 h1 {
  font-size: 75px;
  color: #404040;
  opacity: 0.1;
  line-height: 100px;
  margin-top: 20px;
}

.home8121 {
  width: 40%;
}

.home911 h2 {
  text-align: start;
  font-size: 35px;
}

.home911 {
  width: 45%;
}

.home912 {
  width: 55%;
}

.accordion__button {
  background-color: transparent !important;
  font-size: 21px;
  font-weight: 500;
  color: #404040 !important;
}

.accordion {
  border: none !important;
}

.home9121 {
  border-bottom: 1px solid black;
  padding: 1px;
  cursor: pointer;
  margin-left: 40px;
}

.home1011 h2 {
  font-size: 28px;
  color: #101010;
  font-weight: 700 !important;
  opacity: .8;
}

.home1011 h5 {
  color: #101010;
  font-weight: 700;
  font-size: 20px;
  opacity: .5;
  letter-spacing: 0.15em;
}

.home101212 h5 {
  font-size: 20px;
}

.home101212 p {
  font-size: 19.5px;
  color: #404040;
  font-weight: 500;
  width: 70%;
}

.home10122 img {
  border-top-right-radius: 20px;
  filter: brightness(0.7);
}

.home-011 {
  width: 70%;
  border-radius: 8px;
  background-color: #001D4C;
  color: white;
}

.home-011 p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.home10 {
  background-color: #EBF3FA;
}

.home-0111 h2 {
  font-size: 35px;
}

.home-0111 button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 800;
  margin-top: 18px;
}

.home611 h1 {
  font-size: 36px;
  opacity: .8;
  color: #101010;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.home7 {
  padding: 30px 0px;
}

.home612 p {
  font-weight: 600;
  color: #000000;
  font-size: 19.5px;
}

.serviceCard {
  height: 520px;
  max-height: 100%;
}

.home8120 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.147);
  /* padding-bottom: 20px; */
  height: 5.5rem;
}

.home81211 {
  height: 100%;
  display: flex;
  padding-right: 30px;
  align-items: center;
  width: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.147);
}

.home81212 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.home81213 {
  padding-top: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.147);
  padding-right: 30px;
  width: 50%;
}

.mob-nav {
  display: none;
}

.desk-nav {
  display: block;
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding: 12px 60px;
  }

  .navbar ul .sar {
    margin-left: 30px;
  }

  .navbar ul li a {
    font-size: 15px;
  }

  .navbar ul li button {
    width: 135px;
    height: 40px;
    font-size: 17px;
  }

  .home11 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home21 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home31 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home41 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home51 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home61 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home71 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home81 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .home8 {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .home411 p {
    width: 65%;
  }

  .home511 p {
    width: 60%;
  }

  .foot {
    padding: 70px 64px;
  }

  .first-footer img {
    width: 220px;
  }

  .second-footer p {
    font-size: 18.5px;
    margin-left: 12px;
  }

  .second-footer img {
    width: 35px;
  }

  .third-footer p {
    font-size: 18.5px;
    margin-left: 12px;
  }

  .third-footer img {
    width: 35px;
  }

  .third-footer p {
    font-size: 18.5px;
    margin-left: 12px;
  }

  .fourth-footer img {
    width: 35px;
  }

  .fourth-footer p {
    font-size: 18.5px;
    margin-left: 12px;
  }

  .header {
    padding: 12px 60px;
  }

  .noida p {
    font-size: 15px;
  }

  .email p {
    font-size: 15px;
  }

  .phone p {
    font-size: 15px;
  }

  .timer p {
    font-size: 15px;
  }

  .contact-back {
    padding: 0px 64px;
  }

  .need-help {
    padding: 80px 64px;
  }

  .staff-back {
    padding: 0 64px;
  }

  .staff-cap {
    padding: 70px 64px !important;
  }

  .staff-process {
    padding: 60px 64px !important;
  }

  .benifits {
    padding: 100px 64px !important;
  }

  .staff-service {
    padding: 20px 64px !important;
  }

  .staff-market {
    padding: 100px 64px !important;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 12px 30px;
  }

  .noida p {
    font-size: 13px;
    margin-left: 8px;
  }

  .email p {
    font-size: 13px;
    margin-left: 8px;
  }

  .phone p {
    font-size: 13px;
    margin-left: 8px;
  }

  .email {
    margin-left: 15px;
  }

  .phone {
    margin-left: 15px;
  }

  .noida img {
    width: 20px;
  }

  .email img {
    width: 20px;
  }

  .phone img {
    width: 20px;
  }

  .timer img {
    width: 18px;
    height: 18px;
  }

  .timer p {
    font-size: 13px;
    margin-left: 8px;
  }

  .navbar {
    padding: 9px 30px;
  }

  .logo img {
    width: 180px;
  }

  .navbar ul li a {
    font-size: 13px;
  }

  .navbar ul .sar {
    margin-left: 20px;
  }

  .navbar ul li button {
    width: 110px;
    height: 35px;
    font-size: 15px;
  }

  .home1111 h2 {
    font-size: 40px;
    line-height: 49px;
  }

  .home1111 p {
    font-size: 20px;
  }

  .home1112 ul li {
    font-size: 16px;
  }

  .home1112 ul {
    flex-wrap: wrap;
  }

  .home1 {
    height: 28rem;
    margin-bottom: 3rem;
  }

  .home211 {
    margin-right: 2rem;
  }

  .home211 img {
    height: 40px;
  }

  .home211 h5 {
    font-size: 20px;
    margin-top: 15px;
  }

  .home211 h3 {
    font-size: 27.5px;
    line-height: 34px;
  }

  .home211 p {
    font-size: 15px;
  }

  .btn1 {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }

  .home311 h1 {
    font-size: 30px;
  }

  .home311 p {
    font-size: 15px;
  }

  .home411 h1 {
    font-size: 30px;
  }

  .home411 p {
    font-size: 15px;
  }

  .home511 h1 {
    font-size: 30px;
  }

  .home511 p {
    font-size: 15px;
  }

  .home611 h1 {
    font-size: 30px;
  }

  .home611 p {
    font-size: 15px;
  }

  .home711 h1 {
    font-size: 30px;
  }

  .home711 p {
    font-size: 15px;
  }

  .home811 h1 {
    font-size: 45px;
    line-height: 45px;
  }

  .home811 p {
    font-size: 15px;
  }

  .s-card1 h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .s-card1 p {
    font-size: 15px;
    margin-top: 0;
  }

  .s-card1 img {
    width: 20px;
    height: 20px;
  }

  .s-card11 {
    margin-bottom: 10px;
  }

  .serviceCard {
    height: 360px;
  }

  .splide__arrow--prev {
    top: 390px !important;
  }

  .splide__arrow--next {
    top: 390px !important;
  }

  .home3 {
    padding-bottom: 3rem;
  }

  .home4121 {
    width: 135px;
    height: 190px;
  }

  .home511 .portfolio {
    height: 40px;
  }

  .port-card2 b {
    font-size: 18px;
  }

  .port-card2 p {
    font-size: 15px;
  }

  .port-card1 button {
    height: 50px;
    width: 50px;
    right: 15px;
  }

  .home52 button {
    width: 185px;
    height: 40px;
    margin-top: 10px;
  }

  .home611 {
    margin-bottom: 1rem;
  }

  .home612 p {
    font-size: 13px;
  }

  .home711 h1 {
    line-height: 40px;
  }

  .d-card11 h5 {
    font-size: 1.5vmax;
  }

  .d-card12 p {
    font-size: 14px;
  }

  .d-card11 img {
    width: 30px;
    height: 35px;
  }

  .home811 h2 {
    font-size: 30px;
  }

  .home911 h2 {
    font-size: 30px;
  }

  .home811 {
    margin-right: 1rem;
  }

  .accordion__button {
    font-size: 16px;
  }

  .home1011 h2 {
    font-size: 26px;
  }

  .home1011 h5 {
    font-size: 18px;
  }

  .home101 {
    padding: 1.5rem 3rem;
  }

  .home1011 {
    margin-bottom: 1.4rem;
  }

  .home10121 {
    margin-right: 1rem;
  }

  .home-011 {
    width: 75%;
    padding: 2rem;
  }

  .home-0111 h2 {
    font-size: 30px;
  }

  .foot {
    padding: 70px 25px;
  }

  .first-footer img {
    width: 190px;
  }

  .second-footer p {
    font-size: 15px;
  }

  .third-footer .maa {
    font-size: 15px;
  }

  .fourth-footer p {
    font-size: 15px;
  }

  .contact-sect h2 {
    font-size: 40px;
  }

  .first-need h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 900px) {
  .desk-nav {
    display: none;
  }

  .mob-nav {
    display: block;
  }

  .mob-nav2 {
    height: 100%;
    background: white;
    position: fixed;
    right: -885px;
    width: 100%;
    z-index: 999;
    transition: right 0.17s linear;
  }

  .mob-nav2 ul {
    text-align: center;
  }

  .mob-nav2 ul li a {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
  }

  .mob-nav2 ul li {
    margin-bottom: 20px;
  }

  .mob-nav2 ul .sar {
    margin-left: 0;
  }

  .mob-nav1 svg {
    width: 30px;
    height: 30px;
  }

  .mob-nav2-active {
    right: 0;
  }

  .header {
    width: 110vw;
  }

  .home11 {
    flex-direction: column-reverse;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

  .home1 {
    height: 100%;
  }

  .home112 {
    width: 50%;
    margin-bottom: 2rem;
  }

  .home111 {
    width: 100%;
    text-align: center;
  }

  .home1112 {
    left: 13%;
  }

  .home21 {
    flex-direction: column-reverse;
  }

  .home211 {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }

  .home211 img {
    margin: auto;
    height: 60px;
  }

  .home212 {
    width: 65%;
    margin: auto;
  }

  .btn1 {
    margin: auto;
    margin-top: 20px;
  }

  .home311 p {
    width: 100%;
  }

  .s-card0 {
    width: fit-content;
    margin: auto;
  }

  .s-card2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .splide__arrow--prev {
    right: 62% !important;
  }

  .splide__arrow--next {
    right: 33% !important;
  }

  .splide__pagination {
    right: 44% !important;
  }

  .home411 p {
    width: 100%;
  }

  .home412 {
    flex-direction: column;
  }

  .home4121 {
    height: 100%;
    width: 30vw;
    margin-bottom: 1rem;
  }

  .home4121 img {
    width: 100%;
  }

  .home511 p {
    width: 100%;
  }

  .port-card {
    width: 90%;
  }

  .home6121 .p4 {
    margin-right: 84px;
  }

  .home6121 .p2 {
    margin-left: 16px;
  }

  .home61 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .home711 h1 {
    font-size: 22px;
  }

  .home711 {
    margin-bottom: 0;
  }

  .home712 {
    margin-top: 15px;
  }

  .d-card {
    width: 43%;
  }

  .home7 {
    margin-bottom: 1.5rem;
  }

  .home81 {
    flex-direction: column;
  }

  .home811 {
    text-align: center;
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .home811 br {
    display: none;
  }

  .home811 h1 {
    margin-top: 0;
  }

  .home91 {
    flex-direction: column;
  }

  .home911 {
    width: 100%;
    text-align: center;
  }

  .home911 h2 {
    text-align: center;
  }

  .home912 {
    width: 100%;
  }

  .home91 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .home1012 {
    flex-direction: column;
  }

  .home101 {
    padding: 1.5rem;
  }

  .home10121 {
    margin-right: 0;
    margin-bottom: 1.8rem;
  }

  .home-01 {
    margin-bottom: 2rem;
  }

  .home-011 {
    width: 90%;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
  }

  .first-footer {
    margin-bottom: 1rem;
  }

  .second-footer {
    margin-bottom: 1rem;
  }

  .third-footer {
    margin-bottom: 1rem;
  }

  .fourth-footer {
    margin-bottom: 1rem;
  }

  .lower-footer {
    padding-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .second-lower {
    margin-left: 0px;
    margin-top: 1rem;
  }

  .contact-back {
    padding: 0px 40px;
  }

  .need-help {
    padding: 80px 40px;
  }

  .first-need {
    margin-right: 0px;
  }

  .second-need {
    margin-left: 0px;
  }

  .need-help {
    flex-direction: column;
    align-items: center;
  }

  .contact-sect p {
    width: 100%;
  }

  .home101211 {
    justify-content: center;
  }

  .home101212 p {
    width: 100%;
  }

  .home101212 {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .home112 {
    width: 75%;
  }

  .home11 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .home1111 h2 {
    font-size: 23px;
    line-height: 25px;
  }

  .home1112 ul li {
    font-size: 14px;
  }

  .home1112 {
    left: 10%;
  }

  .home21 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .home212 {
    width: 75%;
  }

  .home211 img {
    width: 60%;
  }

  .home211 h3 {
    font-size: 18.5px;
    line-height: 25px;
  }

  .home211 p {
    font-size: 13px;
  }

  .btn1 {
    width: 125px;
    height: 35px;
    font-size: 13px;
  }

  .home31 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .home311 h1 {
    font-size: 23px;
  }

  .home311 p {
    font-size: 13px;
  }

  .home311 {
    margin-bottom: 0;
  }

  .home411 h1 {
    font-size: 23px;
  }

  .home411 p {
    font-size: 13px;
  }

  .home4121 p {
    font-size: 15.5px;
  }

  .home511 h1 {
    font-size: 23px;
  }

  .home511 p {
    font-size: 13px;
  }

  .port-card2 b {
    font-size: 17px;
  }

  .port-card2 p {
    font-size: 13px;
  }

  .home52 button {
    width: 160px;
    height: 37px;
  }

  .home5 {
    margin-bottom: 1rem;
  }

  .home611 h1 {
    font-size: 23px;
  }

  .home612 p {
    font-size: 10px;
  }

  .home711 h1 {
    line-height: 28px;
  }

  .home71 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .d-card12 p {
    font-size: 11px;
    margin-top: 10px;
  }

  .home7 {
    padding: 10px 0px;
  }

  .home811 h2 {
    font-size: 23px;
  }

  .home811 h1 {
    font-size: 36px;
    line-height: 45px;
  }

  .home911 h2 {
    font-size: 23px;
  }

  .accordion__button {
    font-size: 13px;
  }

  .home9121 {
    font-size: 13px;
  }

  .home101212 p {
    font-size: 13px;
    margin-bottom: 12px;
  }

  .home101212 h5 {
    font-size: 16px;
  }

  .home-0111 h2 {
    font-size: 20px;
  }

  .home-011 p {
    font-size: 13px;
  }

  .home-011 button {
    font-size: 13px;
    padding: 6px 13px;
  }

  .home-011 {
    width: 95%;
  }

  .second-footer p {
    font-size: 13px;
  }

  .third-footer .maa {
    font-size: 13px;
  }

  .fourth-footer p {
    font-size: 13px;
  }

  .second-footer img {
    width: 27px;
  }

  .third-footer img {
    width: 27px;
  }

  .fourth-footer img {
    width: 27px;
  }

  .first-lower .atthe {
    font-size: 13px;
  }

  .information p {
    font-size: 13px;
  }

  .second-lower h3 {
    font-size: 16px;
  }

  .header {
    width: 160vw;
  }

  .home51 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .header {
    width: 190vw;
  }

  .home211 img {
    width: 70%;
    height: 40px;
  }

  .splide__pagination {
    right: 41.6% !important;
  }

  .d-card {
    width: 85%;
  }
}

@media screen and (max-width: 450px) {
  .header {
    width: 240vw;
  }

  .home1111 h2 {
    font-size: 16px;
    line-height: 25px;
  }

  .home1112 ul li {
    font-size: 11px;
  }

  .home211 img {
    width: 80%;
    height: 30px;
  }

  .home1112 {
    left: 10%;
  }

  .home21 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .home212 {
    width: 75%;
  }

  .home211 img {
    width: 60%;
  }

  .home211 h3 {
    font-size: 13.5px;
    line-height: 25px;
  }

  .home211 p {
    font-size: 11px;
  }

  .btn1 {
    width: 125px;
    height: 35px;
    font-size: 11px;
  }

  .home31 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .home311 h1 {
    font-size: 16px;
  }

  .home311 p {
    font-size: 11px;
  }

  .home311 {
    margin-bottom: 0;
  }

  .home411 h1 {
    font-size: 16px;
  }

  .home411 p {
    font-size: 11px;
  }

  .home4121 p {
    font-size: 11.5px;
  }

  .home511 h1 {
    font-size: 16px;
  }

  .home511 p {
    font-size: 11px;
  }

  .port-card2 b {
    font-size: 17px;
  }

  .port-card2 p {
    font-size: 11px;
  }

  .home52 button {
    width: 160px;
    height: 37px;
  }

  .home5 {
    margin-bottom: 1rem;
  }

  .home611 h1 {
    font-size: 16px;
  }

  .home612 p {
    font-size: 10px;
  }

  .home711 h1 {
    line-height: 28px;
  }

  .home71 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .d-card12 p {
    font-size: 11px;
    margin-top: 10px;
  }

  .home7 {
    padding: 10px 0px;
  }

  .home811 h2 {
    font-size: 16px;
  }

  .home811 h1 {
    font-size: 36px;
    line-height: 45px;
  }

  .home911 h2 {
    font-size: 16px;
  }

  .accordion__button {
    font-size: 11px;
  }

  .home9121 {
    font-size: 11px;
  }

  .home101212 p {
    font-size: 11px;
    margin-bottom: 12px;
  }

  .home101212 h5 {
    font-size: 16px;
  }

  .home-0111 h2 {
    font-size: 20px;
  }

  .home411 h1 {
    font-size: 16px;
  }

  .home4121 {
    width: 60vw;
  }

  .home4121 img {
    width: 50%;
  }

  .home4 {
    padding-bottom: 1rem;
  }

  .home511 .portfolio {
    height: 30px;
  }

  .port-card2 b {
    font-size: 14px;
  }

  .home6 {
    display: none;
  }

  .home711 h1 {
    font-size: 16px;
    line-height: 23px;
  }

  .d-card11 h5 {
    font-size: 1.1vmax;
  }

  .home811 h1 {
    font-size: 33px;
    line-height: 33px;
  }

  .home1011 h5 {
    font-size: 16px;
  }

  .home1011 h2 {
    font-size: 18px;
  }

  .foot {
    padding: 70px 8px;
  }

  .footer {
    padding-left: 10px;
  }

  .lower-footer {
    padding-left: 10px;
  }

  .information p {
    font-size: 11px;
  }

  .social-links img {
    width: 15px !important;
  }
}

@media screen and (max-width: 360px) {
  .information {
    display: none;
  }

  .header {
    width: 260vw;
  }
}
